/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body, body a { 
    font-size: 13px; 
    line-height: 32px;
    font-family: cursive;/* Ubuntu, sans-serif */;
    color: #69ac43;/*#ffd001;*/
}

h1 {
    font-size: 4rem; /* x.xrem  (rem is a unit of measure) */
    text-align: left;
    margin-top: 4rem;
    color: #2b5c01;
}

h2 {
    font-size: 1.25rem; /* x.xrem */
    text-align: left;
    text-indent: 22px;
    border-bottom: 1px solid #c4b5d4;
}

header {
    margin: 2rem auto;
    padding: 2rem 2rem 6.75rem 2rem;
    max-width: 900px;/* xxxpx (px = pixel is a unit of measure)  */
}

main {
    text-align: left;
    margin: 3rem auto;
    padding: .5rem;
    max-width: 900px;/* xxxpx (px = pixel is a unit of measure)  */
}

footer {
    margin: 1.25rem auto;
    padding: .2rem;
    max-width: 900px;/* xxxpx (px = pixel is a unit of measure)  */
}

header, footer, footer a {
    text-align: left;
    background-color: #c4b5d4/* */;
    color: #2b5c01; /*whitesmoke;*/
}

header img {
    width: 300;/*  */
    height: auto;
    float: right;
    
}

footer {
    font-size: 10px;/* smaller */
    text-indent: 28px;

}